/*VARIABLES*/
:root{
    --headingsFont: 'M PLUS Rounded 1c', sans-serif;
    --parragraphsFont: 'Roboto Condensed', sans-serif;
    --firstColor: #000;
    --secondColor: #fff;
    --thirdColor: #333333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--parragraphsFont);
    font-size: 1.5rem;
}

/*GLOBALS*/

h1,h2,h3{
    font-family: var(--headingsFont);
}

p{
    font-size: 2.5rem;
    text-align: center;
}

a{
    text-decoration: none;
}

.btn{
    text-decoration: none;
    outline: none;
    padding: 15px 30px;
    background: var(--firstColor);
    color: var(--secondColor);
    font-size: 1.2rem;
    font-family: var(--parragraphsFont);
    font-weight: 700;
    border: 2px solid var(--thirdColor);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background: var(--thirdColor);
}

/*HEADER*/

.nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: var(--firstColor);
   height: 5.8rem;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-img{
    max-height: 5rem;
}

.nav-title{
    color: var(--secondColor);
    text-transform: uppercase;
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-li i{
    color: var(--secondColor);
    margin: 0.2rem;
}

.nav-li a{
    color:var(--secondColor)
}
